header {
  background-image: url("image/dubai_marina-2560x1440.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
header p {
  display: inline-block;
  margin-top: 200px;
  color: aliceblue;
}
header a {
  border-radius: 10px;
  text-decoration: none;
  color: black;
  background-color: aliceblue;
}
header a:hover {
  background-color: rgb(255, 255, 255);
}

@media (max-width: 500px) {
  header {
    height: 300px;
  }
  header p {
    margin-top: 80px;
  }
}
.section-places .container {
  color: rgb(18, 18, 86);
}
.section-places .container .row .col-sm-6 {
  color: rgb(18, 18, 86);
}
.section-places .container .row .col-sm-6 p {
  padding-left: 5px;
}
.section-places .container .row .col-sm-6 img {
  border-radius: 20px;
}
.section-places .container .row .col-sm-6 a {
  padding-left: 5px;
  text-decoration: none;
  color: rgb(18, 18, 86);
  font-weight: bold;
}

.section-hotel .container {
  color: rgb(18, 18, 86);
}
.section-hotel .container .row {
  gap: 2rem;
  padding: 25px;
  overflow: hidden;
}
.section-hotel .container .row .col-12 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  overflow-x: auto;
}
.section-hotel .container .row .col-12 .box img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.section-hotel .container .row .col-12:hover {
  background-color: rgba(3, 3, 255, 0.259);
  transition: 0.3s;
}
.section-hotel .container .View {
  display: inline-block;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  background-color: rgb(13, 13, 64);
  box-shadow: 0px 7px 20px 0px black;
}
.section-hotel .container .View:hover .fa-arrow-right {
  padding-left: 2px;
  transition: 0.1s;
}
.section-hotel .container .View:hover {
  background-color: rgb(18, 18, 86);
}

.section-guide .text-center {
  color: rgb(18, 18, 86);
}
.section-guide .carousel .carousel-inner .container .text-center p {
  color: rgb(18, 18, 86);
}
.section-guide .carousel .carousel-inner .container .text-center .social a {
  text-decoration: none;
  color: rgb(18, 18, 86);
}
.section-guide .carousel-control-next-icon {
  border-radius: 20px;
  margin: 20px;
  background-color: rgb(18, 18, 86);
}
.section-guide .carousel-control-prev-icon {
  border-radius: 20px;
  margin: 20px;
  background-color: rgb(18, 18, 86);
}

.section-car .container .fw-bold {
  color: rgb(18, 18, 86);
}
.section-car .container .row .col-sm-6 {
  border-radius: 20px;
}
.section-car .container .row .col-sm-6 .car {
  text-decoration: none;
  color: rgb(18, 18, 86);
}

.section-flying .container p {
  color: rgb(18, 18, 86);
}
.section-flying .row {
  padding: 10px;
}
.section-flying .row .col-sm-12 {
  border-radius: 10px;
  overflow-x: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-decoration: none;
  color: rgb(18, 18, 86);
}
.section-flying .row .col-sm-12 img {
  width: 150px;
  height: 120px;
}
.section-flying .row .col-sm-12 .air-cairo {
  margin-top: 40px;
}
.section-flying .row .col-sm-12 .Air-Arabia {
  margin-top: 25px;
}
.section-flying .row .col-sm-12 .flynas {
  margin-top: 25px;
}
.section-flying .row .col-sm-12:hover {
  transition: 0.3s;
  box-shadow: rgba(26, 26, 26, 0.2) 0px 2px 8px 0px;
}

.section-question .container p {
  color: rgb(18, 18, 86);
}
.section-question .container .accordion .accordion-item h2 button {
  color: rgb(18, 18, 86);
}
.section-question .container .accordion .accordion-item #flush-collapseOne .accordion-body {
  color: rgb(18, 18, 86);
}

/* start footer*/
footer {
  background-color: rgb(5, 32, 60);
}
footer .container .Best-destinations {
  list-style: none;
  transition: 0.5s;
}
footer li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
footer li:hover {
  transition: 0.3s;
  list-style: disc;
  margin-left: 3px;
}

/* end footer*/
.btn {
  bottom: 2%;
  right: 1%;
  display: none;
  color: #1d1c45;
}

.btn-home {
  position: absolute;
  color: aliceblue;
  top: 2%;
  left: 1%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  transition: 0.3s;
  padding: 5px;
  border-radius: 10px;
}

.btn-home:hover {
  background-color: rgba(240, 248, 255, 0.36);
}/*# sourceMappingURL=style_dubai.css.map */