.navbar {
    background-color: rgb(5, 32, 60);
    .navbar-brand {
      margin-left: 50px ;
      .fa-brands {
        font-size: 90px;
      margin-left: 15px ;
      }
    }
    .navbar-toggler {
      color: aliceblue;
      font-size: 25px;
      border-color: aliceblue;
    }
  
    .collapse {
      ul {
        .active{
          background-color: rgba(240, 248, 255, 0.484);
          border-radius: 10px;
        }
        li:hover {
          background-color: rgba(240, 248, 255, 0.484);
          transition: 0.5s;
          border-radius: 10px;
        }
      }
    }
  }

  @media (max-width:600px) {
    .navbar{
        .navbar-brand {
          margin-left: 10px;
          .fa-brands{
            margin-left: 0px;
          }
        }
    }
    
  }

//===============================================

form{
  i{
    font-size: 80px;
    
  }
}


//===============================================


section{
  display: flex;
  justify-content: center;
   form{
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   }
   button{
    background-color: rgb(5, 32, 60);
   }
   a{
    text-decoration: none;
    color: rgb(5, 32, 60);
   }
  }

//=====================================================================================


#toastBox{
  position: absolute;
  bottom: 30px;
  right :5px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px 30px;
  .toast,
  .toast-error{
    border-radius: 0px;
    display: block;
    width:400px ;
    height: 60px;
    background-color: #fff;
    font-weight: 500;
    margin: 10px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #cd8a18;
    animation: hide_toast 6s ease forwards;
  }

  .toast-error{
    span{
      margin-left:170px ;
    }
  }
  .toast{
    span{
      margin-left:50px ;
    }
  }

  .toast::before{
    position: absolute;
    content: "";
    background-color:#cd8a18;
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
  }
  .toast-error::after{
    position: absolute;
    content: "";
    background-color:red;
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
  }
}

@media (max-width:460px) {
  #toastBox{
    .toast-error{
      font-size: 16px;
      span{
        margin: 10px;
      }
    }
    .toast{
      font-size: 10px;
      span{
        margin:10px 10px 10px 0px;
      }
    }
    .toast,
    .toast-error{
    display: block;
    width:auto ;
    height: auto;
    background-color: #fff;
    font-weight: auto;
    margin:auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    padding-left: auto;
    color: #cd8a18;
    animation: hide_toast 6s ease forwards;
    }
    
    .toast::before{
      position: absolute;
      content: "";
      background-color:#cd8a18;
      height: 3px;
      width: 95%;
      bottom: -1px;
      left: 0px;
      animation: progress 5s linear forwards;
    }
    .toast-error::after{
      position: absolute;
      content: "";
      background-color:red;
      height: 3px;
      width: 95%;
      bottom: -1px;
      left: 0px;
      animation: progress 5s linear forwards;
    }

  }
  
}

@keyframes progress {
  100% {
    width: 0%;
  }
}

@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 50px));
  }
}
