.container{
    display: flex;
    justify-content: center;
    
    table{
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}



@media (max-width:600px) {
    .navbar{
        .navbar-brand {
          margin-left: 10px;
          .fa-brands{
            margin-left: 0px;
          }
        }
        
    }
    
  }